{% extends 'layout.html' %}
{% load static %}

{% block content %}

<header class="row bg-black">
    <style>
        img {
            border-radius: 25px;
        }
    </style>
    <div class="col-md-4">
        <img src="{% static 'portfolio/profile.jpeg' %}" alt="Profile" width="350" height="500">
    </div>

    <div class="col-md-8 my-auto">
        <h1>Im <strong>Programing</strong></h1>
        <h3>i am Python full stack</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quidem tempore vitae ea quae eos accusamus
            molestias. A, itaque necessitatibus hic natus cupiditate inventore rerum distinctio, voluptas illum maxime
            est!

        </p>
        <a href="{% static 'portfolio/doc1.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">doc
            1
        </a>
        <a href="{% static 'portfolio/doc2.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">doc 2
        </a>
    </div>

</header>

<hr>

<div class="row my-4 text-center">
    <h3>Mis Proyectos</h3>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nulla id saepe sed enim quasi ut placeat
        totam quam, quia voluptate quos deserunt dolore nam laboriosam? Maiores praesentium labore delectus.</p>

    {% for p in project %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{p.image.url}}" alt="{{p.title}}" class="card-img-top" />
            <div class="card-body">
                <h2>{{p.title}}</h2>
                <p>{{p.description}}</p>
                {% if p.url %}
                <a href="{{p.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{p.url}}</a>
                {% endif %}
            </div>
        </div>

    </div>

    {% endfor %}
    {% endblock %}
</div>